:root
{
    --dark0:  #2e3440;
    --dark1:  #3b4252;
    --dark2:  #434c5e;
    --dark3:  #4c566a;

    --light0: #d8dee9;
    --light1: #e5e9f0;
    --light2: #eceff4;
    --light3: #ffffff;

    --frost0: #8fbcbb;
    --frost1: #88c0d0;
    --frost2: #81a1c1;
    --frost3: #5e81ac;

    --red:    #bf616a;
    --orange: #d08770;
    --yellow: #ebcb8b;
    --green:  #a3be8c;
    --purple: #b48ead;
}

p {
    margin-bottom: 1em;
  }

h1
{
    color: var(--red);
}

h2 
{
    color: var(--orange);
    font-size: 60px;
}

h3 
{
    color: var(--frost0);
    font-size: 60px;
}

body {
    background-color: var(--light0);
    font-size: 16px;
  }

  
.md-content em {
    color: var(--frost3);
}

.cards li {
    color:rebeccapurple;
    background-color: var(--yellow);
}

